<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="utf-8" />
    <title>mock-sso - don't use in prod</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="theme-color" content="#0b0c0c" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png" />

    <!--[if !IE 8]><!-->
    <link href="/css/main.css" rel="stylesheet" />
    <!--<![endif]-->

    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png" />

    {% block header_scripts %}{% endblock %}
</head>

<body class="govuk-template__body">
<script>
  document.body.className = document.body.className
    ? document.body.className + " js-enabled"
    : "js-enabled";
</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>

<header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                        <span class="govuk-header__logotype">
                            <span class="govuk-header__logotype-text">{{ title }}</span>
                        </span>
            </a>
        </div>
    </div>
</header>
<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag"> dev </strong>

            <span class="govuk-phase-banner__text">
            This development only service. Never ever ever use in production.
          </span>

        </p>
    </div>

</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        {% block content %}{% endblock %}
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m">Debug info</h3>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            client_id
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ clientId }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            redirect_uri
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ redirectUri }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            storage
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ storage }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">

                        </dt>
                        <dd class="govuk-summary-list__value">
                            <button style="font-size:80%;" class="govuk-button govuk-button--secondary" onclick="toggleAdvancedOptions(this)">Show advanced options</button>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

    </main>
</div>
<footer class="govuk-footer" role="contentinfo">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                        <span class="govuk-footer__licence-description">
                            {{ title }}
                            {{ version }} - {{ repo }}
                        </span>
            </div>
        </div>
    </div>
</footer>
<script src="/js/all.js"></script>
<script>
  window
    .GOVUKFrontend
    .initAll();


  function toggleAdvancedOptions(sender) {

    const toggleResult = document.body.classList.toggle("advanced-options-visible");
    if (toggleResult) {
      // the class was added
      sender.innerText = "Hide advanced options";

    } else {
      sender.innerText = "Show advanced options";
    }

  }

</script>
</body>
</html>