{% extends "base.njk" %}

{% block content %}

    <form id="loginForm" method="post" action="/select-user" style="display:none;">
        <input type="text" value="{{ clientId }}" name="clientId" />
        <input type="text" value="{{ redirectUri }}" name="redirectUri" />
        <input type="text" name="email_user_id" id="emailUserId" />
        <button type="submit" name="submit_button" value="remove-user" id="removeButton">Remove</button>
    </form>

    <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-two-thirds">
            {% if users.length %}
                <h1 class="govuk-heading-l">Login as an existing user</h1>
                <div style="max-height: 30rem; overflow-y: scroll">
                    <dl class="govuk-summary-list">
                        {% for user in users %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    <a onclick="login('{{ user.email_user_id }}')" class="govuk-link__fake"
                                       style="font-weight: bold">
                                        {{ user.first_name }} {{ user.last_name }}
                                    </a>
                                </dt>

                                <dd class="govuk-summary-list__value">{{ user.email }}</dd>

                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link__fake"
                                       onclick="remove('{{ user.email_user_id }}', '{{ user.email }}')">
                                        Remove</a>
                                </dd>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            <h2 class="govuk-heading-l">Login as a new user</h2>

            <form action="/create-user" method="post">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="first_name">First name</label>
                            <input type="text" class="govuk-input" id="first_name" name="first_name" required />
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="last_name">Last name</label>
                            <input type="text" class="govuk-input" id="last_name" name="last_name" required />
                        </div>
                    </div>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="email">Email</label>
                    <input type="email" class="govuk-input govuk-input--width-20" id="email" name="email" required />
                </div>
                <div class="govuk-form-group">
                    <input type="hidden" value="{{ clientId }}" name="clientId" />
                    <input type="hidden" value="{{ redirectUri }}" name="redirectUri" />
                    <input type="submit" class="govuk-button" value="Create and login" />
                </div>
            </form>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
            <h2 class="govuk-heading-s">Manage your users</h2>

            <p class="govuk-body-s">
                <a href="/download?client_id={{ clientId }}" class="govuk-link govuk-link--no-visited-state">Download</a> your users as a JSON
                file for
                later uploading.
            </p>

            <p class="govuk-body-s">
                <a class="govuk-link govuk-link--no-visited-state" href="#" onclick="showFileUploadPrompt()">Upload</a> your users from a
                JSON file.
            <form method="post" action="/upload" enctype="multipart/form-data" id="uploadForm" style="display:none;">
                <input type="text" name="clientId" value="{{ clientId }}"/>
                <input type="file" accept="application/json,*.json" name="users" id="fileUploadInput"
                       onchange="uploadFile(this)" />
                <input type="text" value="{{ redirectUri }}" name="redirectUri" />
            </form>
            </p>
        </div>
    </div>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
    </div>

    <div class="govuk-grid-row">

    </div>

{% endblock %}

{% block header_scripts %}
    <script>

      function showFileUploadPrompt(e) {
        const fileInput = document.getElementById("fileUploadInput");
        fileInput.click();
        e.preventDefault();
        return false;
      }

      function uploadFile(fileInput) {
        if (!fileInput.files) return;
        const uploadForm = document.getElementById("uploadForm");
        uploadForm.submit();
      }

      function remove(emailUserId, email) {
        if (!confirm(`Really delete ${email}`)) return;
        setFormEmailUserId(emailUserId);
        const button = document.getElementById("removeButton");
        button.click();
      }

      function setFormEmailUserId(emailUserId) {
        const form = document.getElementById("loginForm");
        const emailInput = document.getElementById("emailUserId");
        emailInput.value = emailUserId;
        return form;
      }

      function login(emailUserId) {
        const form = setFormEmailUserId(emailUserId);
        form.submit();
      }

    </script>
{% endblock %}
